nav {
    height: 10vh;
    background-color: #132413;
}

#content{
    min-height: 90vh;
    background: #535353;
    
}



.brand-logo {
    /* margin-left: 5vw; */
    font-weight: 700;
    /* color: black; */
}

.sidenav-trigger {
    margin-left: 10px;
}

.material-icons.md-light {
    color: rgb(201, 201, 201);
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.preloader-wrapper {
    transition: 0.5s opacity;
    transition-delay: 1s;
    opacity: 1;
    
    position: fixed;
    top: 50%;
    left: 50%;
}

.loaded_hiding .preloader-wrapper {
    transition: 0.5s opacity;
    opacity: 0;
}

.loaded .preloader-wrapper {
    opacity: 0;
}