<!DOCTYPE html>
<html>
	<head>
		{% block head %}
			<link href="/Public/css/material-icons.css" rel="stylesheet">
			<link type="text/css" rel="stylesheet" href="/Public/css/materialize.css" media="screen,projection"/>
			<link type="text/css" rel="stylesheet" href="/Public/css/style.css"/>

			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		{% endblock %}
	</head>
	<body>
		{% block beforeNav %}{% endblock %}

			<nav>
				<div class="container">
					<div class="nav-wrapper">
						<a href="#" class="brand-logo">{{ caption }}</a>

						<ul id="nav-mobile" class="right hide-on-med-and-down">
							{% for link in navigation %}
								<li>
									<a href="{{ link.href }}">{{ link.name }}</a>
								</li>
							{% endfor %}
						</ul>
						{{ var }}
						{% block auxNav %}
						{% endblock %}
					</div>
				</div>
			</nav>
        
		<div id="content"> 
            {% block content %}
            {% endblock %}
        </div>
        
			<div id="footer">
				{% block footer %}
					<script type="text/javascript" src="/Public/js/materialize.js"></script>
					<script type="text/javascript" src="/Public/js/init.js"></script>
				{% endblock %}
			</div>
		</body>
	</html>

